@inherits TogglerBase

@* <input type="checkbox" checked="@Enabled" id="switch" /><label for="switch">Toggle</label> *@
<input type="checkbox" checked="@Enabled" @oninput="CheckboxChanged" id="switch" /><label for="switch">Toggle</label>