@page "/"

<ToggleText @bind-Enabled="TogglerState" />

<ToggleButton @bind-Enabled="TogglerState" />

<div>Toggler Is:@TogglerState</div>

@code {
    private bool TogglerState { get; set; } = false;
}
